<div class="modal-dialog" *ngIf="showLeave">
    <div class="modal-content">
        
        <div class="modal-body">

            <form #leaveForm="ngForm" novalidate class="leaveapplyform" *ngIf="!isResetting" (ngSubmit)="saveNewLeave(leaveForm.value)">
                <!--Employee Name-->
                <div class="form-group" [class.has-error]="EngagementManager.invalid && EngagementManager.touched">
                    <label class="control-label">Manager Name</label>
                    <input #EngagementManager="ngModel" required type="text" class="form-control" placeholder="Enter Name" name="EngagementManager"
                           [(ngModel)]="leave.EngagementManager">
                    <div *ngIf="EngagementManager.invalid && EngagementManager.touched" class="alert alert-danger">Shouldn't be blank</div>
                </div>

                <!-- Project Name -->
                <div class="form-group" [class.has-error]="Project.invalid && Project.touched">
                    <label class="control-label">Project Name</label>
                    <input #Project="ngModel" required type="text" class="form-control" placeholder="Enter project Name" name="Project"
                           [(ngModel)]="leave.Project">
                    <div *ngIf="Project.invalid && Project.touched" class="alert alert-danger">Shouldn't be blank</div>
                </div>

                <!--leave Type-->
                <div class="form-group" [class.has-error]="hasLeaveTypeError">
                    <label class="control-label">Leave Type</label>
                    <select class="form-control" #LeaveType name="LeaveType"
                            (blur)="validateLeaveType(LeaveType.value)"
                            (change)="validateLeaveType(LeaveType.value)"
                            [(ngModel)]="leave.LeaveType">
                        <option value="default">Select a Leave Type...</option>
                        <option *ngFor="let leave of leaves">
                            {{leave}}
                        </option>
                    </select>
                </div>

                <!--Start Date-->
                <div class="form-group">
                    <label class="control-label">Start Date</label>
                    <div class="datepicker">
                        <!--<input type="date" [(ngModel)]="leave.StartDate"/>-->
                        <ng2-datepicker required [options]="options" name="StartDate" [(ngModel)]="leave.StartDate"></ng2-datepicker>
                    </div>
                </div>

                <!--End Date-->
                <div class="form-group">
                    <label class="control-label">End Date</label>
                    <div class="datepicker">
                        <!--<input type="date" [(ngModel)]="leave.EndDate" />-->
                        <ng2-datepicker required [options]="options" name="EndDate" [(ngModel)]="leave.EndDate"></ng2-datepicker>
                    </div>
                </div>
                <div *ngIf="error.isError" class="alert alert-danger">
                    {{ error.errorMessage }}
                </div> 


                <!--No of Days-->
                <div class="form-group" [class.has-error]="NumberOfDays.invalid && NumberOfDays.touched">
                    <label class="control-label">Number of Days</label>
                    <input #NumberOfDays="ngModel" required class="form-control" placeholder="Enter number of days" name="NumberOfDays"
                           [(ngModel)]="leave.NumberOfDays" OnlyNumber="true">
                    <div *ngIf="NumberOfDays.invalid && NumberOfDays.touched" class="alert alert-danger">Shouldn't be blank</div>
                </div>
                <div class="form-btns">
                    <input type="submit" value="Submit" class="btn btn-primary" [disabled]="leaveForm.invalid" />
                    <input type="reset" value="Cancel" class="btn" (click)="clearSearch()" />
                </div>
            </form>
        </div>
    </div>
</div>
